# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
